@import "https://fonts.googleapis.com/css?family=Montserrat";
html {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  - ms
  - text
  - size
  - adjust: 100 %;
  - webkit
  - text
  - size
  - adjust: 100 %;
}

body {
    font - family: PT Mono, PT Serif, serif, Helvetica, system - ui;
    background: #000000;
    color: #fff;overflow:hidden}a{color:# 37 aed5
}

a: hover {
    color: #2797bc
  }

.main-block {
  display:-ms-flexbox;
  display:flex;
  z-index:1;
  position:relative
}


.main-block_bg {
  width:100%;
  height:100vh;
  background-image:url(https://i.gifer.com/g1IZ.gif);
  margin: 0px;
  background-size: 80%;
  background-repeat: no-repeat;
  left: 0px;
  top: 92px;
}


.main-block_info {
  width:60%;
  position:relative
}

.main-block_info-center
{
  width:650px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%)
}

.main-block_info-center
  h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size:100px;
  letter-spacing:.9px;
  line-height:100px;
  margin-bottom:50px;
  transition:text-shadow .3s ease-out;
}

.main-block_info-center p {
  font-family: 'Montserrat', sans-serif;
  font-size:20px;
  color:# 070106;
  letter - spacing: -1 px;
  line - height: 61 px;
  width: 650 px
}
